        <!-- 內容畫面區-->

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>新增商品</h1>

                    </div>
                </div>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">

        <div class="row">

            <div class="col-xs-6 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>新增商品資料</strong> <small>務必填寫詳細</small>
                    </div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label class=" form-control-label">商品名稱</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
                                <input class="form-control">

                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">商品編號</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-tags"></i></div>
                                <input class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">商品說明</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-pencil-square-o"></i></div>
                                <input class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">商品規格</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa  fa-folder-open"></i></div>
                                <input class="form-control">
                            </div>
                            <small style="color:grey;">如:淨重:10g</small>
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">製造產地</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa  fa-building-o"></i></div>
                                <input class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" form-control-label">圖片上傳</label>
                            <div class="input-group">
                                <input type="file" name="Files" id="file" multiple />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">產品價格</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class=" form-control-label">商品進價</label>
                            <div class="input-group">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">銷售價格</label>
                            <div class="input-group">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">活動優惠價</label>
                            <div class="input-group">
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">相關產品連結</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class=" form-control-label">網站連結</label>
                            <div class="input-group">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">影片連結</label>
                            <div class="input-group">
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-12">
                    <button id="Buttonexport" type="button" class="btn btn-primary" data-dismiss="modal">上傳商品</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">離開編輯</button>
                </div>
            </div>
        </div>
    </div>
</div>
