@model BackEndSystem.Models.Home

@{
    ViewBag.Title = "DashBoard";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">$<span class="count">@ViewBag.Selltotal</span></div>
                                    <div class="stat-heading">營業額</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ViewBag.ProCount</span></div>
                                    <div class="stat-heading">產品總數</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-browser"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ViewBag.OrdCount</span></div>
                                    <div class="stat-heading">訂單總數</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">@ViewBag.MemCount</span></div> @*@Model.Prototal*@
                                    <div class="stat-heading">會員總數</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">當月產品總排名</h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                               <tr>                           
                                    <th>產品編號</th>
                                    <th>產品名稱</th>
                                    <th>銷售數量</th>
                                    <th>銷售金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>                                   
                                    <td >123</td>
                                    <td><span class="name"id="productTop1">Catherine Dixon</span> </td>
                                    <td><span class="product"id="productTop2">SSD</span> </td>
                                    <td><span class="count"id="productTop3">250</span></td>                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
}

@section scripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
             jQuery.ajax({
                url:"/Home/GetProductTop5",
                type:"post",
                datatype: "json",
                success: function (response) {                 
                     $('#productTop1').text(response[1].ProductName);
                     $('#productTop2').text(response[1].Quantity);
                     $('#productTop3').text(response[1].Amount);
                                              
                }
            });

        });

       





    </script>

}
