
@Html.Partial("_Topimage")
<section class="ftco-section ftco-cart">
    <div class="container">
        @*商品結帳圖示區域*@
        @Html.Partial("PrductCheckoutView")

        @*確認結帳區域*@
        @Html.Partial("PrductCheckButton")
    </div>
</section>
