@model IEnumerable<ShopCartOrderView>
@Html.Partial("_Topimage")

@{
    ViewBag.Title = "單品結帳";
}
<section class="ftco-section ftco-cart">
    <div class="container">
        @*商品結帳圖示區域*@
        @Html.Partial("PrductCheckoutView")

        @*確認結帳區域*@
        @Html.Partial("PrductCheckButton")
    </div>
</section>



@section topCSS{
    <style>
        /*隱藏的DIV*/
        #myDIV {
            width: 100%;
            text-align: center;
            background-color: #ecf0f1;
            margin-top: 3px;
        }

        /*向下*/
        .mousedown {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 70px;
            z-index: 99;
        }

        .mousedown-icon {
            width: 60px;
            height: 60px;
            border: 1px solid rgba(46, 199, 199, 0.70);
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            position: relative;
            text-align: center;
            margin: 0 auto;
            display: block;
        }

        .mousedown-wheel {
            height: 30px;
            margin: 2px auto 0;
            display: block;
            width: 30px;
            background: transparent;
            border-radius: 50%;
            -webkit-animation: 1.6s ease infinite wheel-up-down1;
            animation: 1.6s ease infinite wheel-up-down1;
            color: #000000;
            font-size: 20px;
        }

        @@-webkit-keyframes wheel-up-down1 {
            100% {
                margin-top: 25px;
                opacity: 1;
            }

            30% {
                opacity: 1;
            }

            0% {
                margin-top: 0px;
                opacity: 0;
            }
        }

        @@keyframes wheel-up-down1 {
            100% {
                margin-top: 25px;
                opacity: 1;
            }

            30% {
                opacity: 1;
            }

            0% {
                margin-top: 0px;
                opacity: 0;
            }
        }
        /*會員修改*/
        h3 {
            font-family: 'Dancing Script', cursive;
        }

        label {
            font-family: 'Dancing Script', cursive;
        }

        .no-border {
            text-align: center;
            background: none;
            border: none !important;
            outline: none;
            border-bottom: 1px solid !important;
            color: #888;
            padding: 10px 6px;
            font-size: 14px;
            margin-bottom: 40px;
            width: 240px;
            transition: 0.25s;
        }

            .no-border:focus {
                width: 300px;
                color: #EA2027;
            }

        /*table改成DIV+CSS*/
        tablewidth {
            width: 100% !important;
        }

        .css-table {
            display: table;
            width: 100%;
        }

        .td img {
            width: 100px;
            height: 100px;
        }

        .td a {
            background-color: #f39c12;
        }

            .td a:hover {
                background-size: 50px;
                background-color: #e74c3c;
            }

        /*.ion-ios-close {
            font-size: 50px;
        }*/


        .css-table .thead {
            display: table-header-group;
            background-color: #ecf0f1;
            text-align: center;
        }

        .css-table .tbody {
            display: table-row-group;
            text-align: center;
        }

        .css-table .tr {
            display: table-row;
        }

        .css-table .th, .css-table .td {
            display: table-cell;
        }

        .td:nth-child(1) {
            width: 5%;
        }

        .td:nth-child(2) {
            width: 15%;
        }

        .td:nth-child(3) {
            width: 40%;
        }

        .td:nth-child(4) {
            width: 10%;
        }

        .td:nth-child(5) {
            width: 20%;
        }

        .td:nth-child(6) {
            width: 10%;
        }

        /*彩色按鈕
        .glow-on-hover {
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            color: #ecf0f1;
            background: #ecf0f1;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 40%;
        }

            .glow-on-hover:before {
                content: '';
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                opacity: 0;
                transition: opacity .3s ease-in-out;
                border-radius: 10px;
            }

            .glow-on-hover:active {
                color: #000
            }

                .glow-on-hover:active:after {
                    background: transparent;
                }

            .glow-on-hover:hover:before {
                opacity: 1;
            }

            .glow-on-hover:after {
                z-index: -1;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #ecf0f1;
                left: 0;
                top: 0;
                border-radius: 10px;
            }

        @@keyframes glowing {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }*/
        /*.text-center{
            margin-right: 50px;
        }*/
    </style>
}
@section endJS{
    <script>
        //console.log($('.mousedown'));
        $(function () {
            $('#mousedown').click(function () {
                let btn = $('#myDIV').css('display');
                if (btn === 'none') {
                    $('#mymousedown-ion').removeClass();
                    $('#mymousedown-ion').addClass('ion-ios-arrow-up');
                    $('#mymousedown-wheel').css('-webkit-animation', '1.6s ease infinite wheel-up-down');
                    $('#mymousedown-wheel').css('animation', '1.6s ease infinite wheel-up-down');
                    $('#myDIV').css('display', 'block');
                } else {
                    $('#mymousedown-ion').removeClass();
                    $('#mymousedown-ion').addClass('ion-ios-arrow-down');
                    $('#mymousedown-wheel').css('-webkit-animation', '1.6s ease infinite wheel-up-down1');
                    $('#mymousedown-wheel').css('animation', '1.6s ease infinite wheel-up-down1');
                    $('#myDIV').css('display', 'none');
                }
            });
        });
    </script>
}