@{
    var viewcart = DotrA_001.Models.HandleCart.GetCurrentCart();

}
<a id="cartdn" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @string.Format($"共{viewcart.TotalAmount}元") 
</a>
<div class="dropdown-menu" aria-labelledby="cartdn">
    @foreach (var item in viewcart)
    {
        <a class="dropdown-item">@item.ProductName<span>@item.ProductPrice 元 X @item.ProductQuantity</span></a>
    }
    <a class="dropdown-item">付錢了拉</a>
</div>
