
@{
    ViewBag.Title = "ErrorPage";
}


<div class="hero-wrap hero-bread" style="background-image:url(/Assets/Images/Logo/logo.png)">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">ErrorPage</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services justify-content-center">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">輸入網址錯誤 請回上一頁</h3>
                        <h4 class="heading">Access denied!</h4>
                        <button class="btn btn-outline-secondary bg-danger text-white" onclick="history.back()">回上一頁</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">免運費</h3>
                        <p>
                            只要消費滿$299即可享有台灣本島免運費及24小時快速到貨服務。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">24小時客服</h3>
                        <p>
                            若您在購物過程中遇到任何問題，我們設有24小時客戶服務，歡迎隨時私訊我們!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-payment-security"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">安全交易</h3>
                        <p>
                            本網站上的所有交易及活動，包括「線上購物」「會員資料登錄」等都是為網路上所有使用者而制定的。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
