
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="ftco-section bg-light ">
    <h2 class="text-center">ForgotPassword</h2>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal text-center">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                @Html.TextBox("Email", "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Click To Send Email" class="btn" />
                @*<div class="col-md-offset-2 col-md-10"></div>*@
            </div>
        </div>
    }
</section>
@section topCss{
    <link href="~/Assets/css/VerifyAccount.css" rel="stylesheet" />
}


