
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
}
<section class="ftco-section bg-light">
    @if (Request.IsAuthenticated)
    {
        <div class="jumbotron">
            <h4 class="text-danger text-center">HiHi!! @User.Identity.Name</h4>
        </div>
        <div class="text-center">
            <a class="btn" href="@Url.Action("Index","Home")"
               role="button">Back To Home</a>
        </div>
    }
</section>
@section topCss{
    <link href="~/Assets/css/RegisterStyle.css" rel="stylesheet" />
}
@section endJS{
}