/*body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}*/
/*.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}*/
/*.box h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}*/

/*.form-group input[type = "text"], .form-group input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

    .form-group input[type = "text"]:focus, .form-group input[type = "password"]:focus {
        width: 280px;
        border-color: #2ecc71;
    }*/

.form-group input[type = "submit"] {
    border: none;
    margin: 20px;
    padding: 24px;
    width: 220px;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}

    .form-group input[type = "submit"]:hover {
        background-position: right;
    }

.btn {
    border: none;
    margin: 20px;
    padding: 24px;
    width: 220px;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    background-size: 200%;
    transition: 1s;
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}

    .btn:hover {
        background-position: right;
        color: #ffffff;
    }


/*.form-group input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    font-weight: 900;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

    .form-group input[type = "submit"]:hover {
        background: #2ecc71;
    }*/

/*.btn1 {
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);//¾ï¬õ
}

.btn2 {
    background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);//ºñ
}

.btn3 {
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);//ÂÅ
}
.btn4 {
    background-image: linear-gradient(to left,#FDA7DF,#9980FA,#FDA7DF);//µµ
}
*/
