@model ShopView
@*宣告給VIEW使用pagedlist*@
@using PagedList;

@{
    //從Viewbag使用IPagedList<T>
    IPagedList<ProductView> myPageList = (IPagedList<ProductView>)ViewBag.MyPageList;
}

@Html.Partial("_Topimage")

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <div class="sidebar">
                    <div class="sidebar-box-2">
                        @*Categories 分類查詢*@
                        @Html.Partial("Categories", Model)
                    </div>
                    @*<div class="sidebar-box-2">
                            PriceRange 價格範圍
                            @Html.Partial("PriceRange")
                        </div>*@
                </div>
            </div>
            <div class="col-md-8 col-lg-10 order-md-last">
                @*@Html.Action("Single_Product", "Shop")*@
                @*圖片*@
                @*給PartialView使用此Model*@
                @Html.Partial("Single_Product", myPageList)
            </div>
        </div>
    </div>
</section>
@section topCSS{
    <style>
        .pagination {
            position: absolute;
            left: 50%;
        }
    </style>
}
