@*分頁選擇*@
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ProductView>



<div class="row mt-5 ">
    <div class="col text-center">
        <div class="block-27">
            <ul>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </ul>
        </div>
    </div>
</div>
